<%= form_for(@failing_service) do |f| %>
  <% if @failing_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@failing_service.errors.count, "error") %> prohibited this failing_service from being saved:</h2>

      <ul>
      <% @failing_service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :TicketNum %><br>
    <%= f.number_field :TicketNum %>
  </div>
  <div class="field">
    <%= f.label :TicketTitle %><br>
    <%= f.text_field :TicketTitle %>
  </div>
  <div class="field">
    <%= f.label :AffectedService %><br>
    <%= f.text_field :AffectedService %>
  </div>
  <div class="field">
    <%= f.label :Priotiry %><br>
    <%= f.text_field :Priotiry %>
  </div>
  <div class="field">
    <%= f.label :GeneratedBy %><br>
    <%= f.text_field :GeneratedBy %>
  </div>
  <div class="field">
    <%= f.label :DateTicket %><br>
    <%= f.datetime_select :DateTicket %>
  </div>
  <div class="field">
    <%= f.label :ProblemDescriprion %><br>
    <%= f.text_area :ProblemDescriprion %>
  </div>
  <div class="field">
    <%= f.label :TicketHistory %><br>
    <%= f.text_area :TicketHistory %>
  </div>
  <div class="field">
    <%= f.label :TimeOfSolution %><br>
    <%= f.text_area :TimeOfSolution %>
  </div>
  <div class="field">
    <%= f.label :ProblemResolution %><br>
    <%= f.text_area :ProblemResolution %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
