<div id="TitlePage"><h1>Reportes de Falla de Servicios</h1></div>

<table>
  <thead>
    <tr>
      <th>Numero de Ticket</th>
      <th>Tituloe</th>
      <th>Servicio Afectado</th>
      <th>Prioridad</th>
      <th>Realizado por</th>
      <th>Fecha</th>
      <th>Problema</th>
      <th>Antecedentes</th>
      <th>Tiempo de Solucion</th>
      <th>Solucion del Problema</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @failing_services.each do |failing_service| %>
      <tr>
        <td><%= failing_service.TicketNum %></td>
        <td><%= failing_service.TicketTitle %></td>
        <td><%= failing_service.AffectedService %></td>
        <td><%= failing_service.Priotiry %></td>
        <td><%= failing_service.GeneratedBy %></td>
        <td><%= failing_service.DateTicket %></td>
        <td><%= failing_service.ProblemDescriprion %></td>
        <td><%= failing_service.TicketHistory %></td>
        <td><%= failing_service.TimeOfSolution %></td>
        <td><%= failing_service.ProblemResolution %></td>
        <td><%= link_to 'Show', failing_service %></td>
        <td><%= link_to 'Edit', edit_failing_service_path(failing_service) %></td>
        <td><%= link_to 'Destroy', failing_service, method: :delete, data: { confirm: 'Desea eleminiar el registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Failing service', new_failing_service_path %>
