<p id="notice"><%= notice %></p>

<p>
  <strong>Ticketnum:</strong>
  <%= @failing_service.TicketNum %>
</p>

<p>
  <strong>Tickettitle:</strong>
  <%= @failing_service.TicketTitle %>
</p>

<p>
  <strong>Affectedservice:</strong>
  <%= @failing_service.AffectedService %>
</p>

<p>
  <strong>Priotiry:</strong>
  <%= @failing_service.Priotiry %>
</p>

<p>
  <strong>Generatedby:</strong>
  <%= @failing_service.GeneratedBy %>
</p>

<p>
  <strong>Dateticket:</strong>
  <%= @failing_service.DateTicket %>
</p>

<p>
  <strong>Problemdescriprion:</strong>
  <%= @failing_service.ProblemDescriprion %>
</p>

<p>
  <strong>Tickethistory:</strong>
  <%= @failing_service.TicketHistory %>
</p>

<p>
  <strong>Timeofsolution:</strong>
  <%= @failing_service.TimeOfSolution %>
</p>

<p>
  <strong>Problemresolution:</strong>
  <%= @failing_service.ProblemResolution %>
</p>

<%= link_to 'Edit', edit_failing_service_path(@failing_service) %> |
<%= link_to 'Back', failing_services_path %>
